.payment-container {
  width: 450px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
}

.payment-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.payment-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}

.payment-container button {
  width: 100%;
  padding: 12px;
  background: orange;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}